<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365099961373-huh9oi3j7cur450s78p2mvqfqj0hafqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365099961373-huh9oi3j7cur450s78p2mvqfqj0hafqi</string>
	<key>API_KEY</key>
	<string>AIzaSyA8z5o0A-Ff68Q106K4-0pXQ0ofjEU-eFE</string>
	<key>GCM_SENDER_ID</key>
	<string>365099961373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matchplayhub.test</string>
	<key>PROJECT_ID</key>
	<string>matchplayhub-d9b10</string>
	<key>STORAGE_BUCKET</key>
	<string>matchplayhub-d9b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365099961373:ios:c11e8f826da53e69db4af4</string>
</dict>
</plist>